# Database
db.sqlite3

# User uploads
media/

# Virtual environments
myenv/
venv/
.env

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Django collected static files
staticfiles/