{% extends 'base.html' %}

{% block other %}
<div class="container">
<h1> All the Draft Blog </h1>

    
<div class="conatiner">
    {% for item in drafts %}  
<div class="card shadow-sm mb-4">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-start w-100">
            <h3 class="card-title">
                <a href="{% url 'blog_detail' item.slug %}" class="text-decoration-none">
                    {{ item.title }}
                </a>
            </h3>
            {% include 'reaction.html' %}
        </div>

        <p class="text-muted mb-2">
            By <strong>{{ blog.author.username }} (YOU)</strong>
            • {{ item.blog.created_at|date:"F j, Y" }}
        </p>


        <p class="card-text">
            {{ title.blog.content|truncatewords:30 }}
        </p>

        <div> {% include 'action.html' %}</div>

    </div>
</div>

{% empty %}

<div class="alert alert-info">
    No drafts blogs yet.
</div>

{% endfor %}

</div>

{% endblock %}


